:root {
  --colorWhite: #fff;
  --colorGrey1: #DBDBDB;
  --colorGrey2: #ABABAB;
  --colorBlack1: #3A3A3A;
  --colorBlack2: #1A1A1B;
  --colorBlack3: #101010;
  --colorRed1: #d95c4f;
  --colorGreen1: #4caf50;
  --colorBlue1: #1E90FF;
  --colorBlue2: #384aa7;
  --colorCompTable1: #1e1e1f;
  --colorCompTable2: #272728;
}


body{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  overflow-x: hidden;
  background-color: var(--colorBlack3);
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

h2, h3, h4, h5, h6{
  color: var(--colorGrey1);
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--colorWhite);
  letter-spacing: -1px;
  padding: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4, p {
  font-size: 1.4rem;
  font-weight: 200;
}

h5 {
  font-size: 1rem;
  font-weight: 100;
}

p {
  color: var(--colorGrey1);
}

.blueLink{
  color: var(--colorBlue1);
}

button {
  font-weight: 400;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  border: 1px solid var(--colorGrey1);
  border-radius: 5px;
  background: none;
  color: var(--colorGrey1);
  padding: 12px 24px;
  cursor: pointer;
}

button:hover {
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: var(--colorGrey1);
  color: var(--colorBlack3);
}